<div id="data_box" data-x="<%= @x %>" data-y="<%= @y %>" data-pos="<%= @pos %>"></div>

<div id="text_overlay" class="Hidden"></div>

<div id="game_box">
  
  <div id="floor"></div>
  <div id="tr_bookshelf"></div>
  <div id="tl_bookshelf"></div>
  <div id="front_bookshelf"></div>
  <div id="person"></div>
  <div id="bl_bookshelf"></div>
  <div id="br_bookshelf"></div>

</div>    